/*font-family: 'Abel', sans-serif;*/
/*font-family: 'Anton', sans-serif;*/
/*element {*/
/*    background-color: var(--main-bg-color);*/
/*}*/
:root {
    --main-red: #E6563B;
    --main-orange: #DB9D3A;
    --main-green: #7CB06C;
    --main-blue: #00ABA9;
    --main-light-grey: #F0F0F0;
    --main-grey: #E6E6E6;
}
* {
    font-family: 'Abel', sans-serif;
}
.heading-font {
    font-family: 'Anton', sans-serif;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 32px;
}
h5 {
    font-size: 28px;
}
main {
    background-color: var(--main-grey);
}
.logo-img {
    height: 105px;
}
.logo-background {
    background-color: white;
    display: flex;
}
ul {
    list-style-type: none;
}
.border-2 {
    border-width: 7px !important;
}
