/*font-family: 'Abel', sans-serif;*/
/*font-family: 'Anton', sans-serif;*/
/*element {*/
/*    background-color: var(--main-bg-color);*/
/*}*/
/*:root {*/
/*    --main-red: #E6563B;*/
/*    --main-orange: #DB9D3A;*/
/*    --main-green: #7CB06C;*/
/*    --main-blue: #00ABA9;*/
/*    --main-light-grey: #F0F0F0;*/
/*    --main-grey: #E6E6E6;*/
/*}*/
* {
    font-family: 'Abel', sans-serif;
}
.bg-red {
    background-color: #E6563B;
}
.bg-orange {
    background-color: #EB9D3A;
}
.bg-green {
    background-color: #7CB06C;
}
.bg-blue {
    background-color: #00ABA9;
}
.bg-light-grey {
    background-color: #f0f0f0;
}
.bg-grey {
    background-color: #E6E6E6;
}
.heading-font {
    font-family: 'Anton', sans-serif;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 32px;
}
/*after testing we found this did not work with the logo size of 105x105*/
/*h5 {*/
/*    font-size: 28px;*/
/*}*/
.logo-img {
    height: 105px;
}
.logo-background {
    background-image: linear-gradient(to bottom, #f0f0f0 20%, white 20%, white 80%, #f0f0f0 80%);
    display: flex;
}
.big-icon-padding {
    padding-top: 2rem;
}
/*.bg-gradient {*/
/*    background-image: linear-gradient(to bottom, #f0f0f0 20%, white 20%, white 80%, #f0f0f0 80%)*/
/*}*/
ul {
    list-style-type: none;
}
.border-2 {
    border-width: 7px !important;
}
.icon-color-red {
    color: #E6563B;
}
.icon-color-orange {
    color: #EB9D3A;
}
.icon-color-green {
    color: #7CB06C;
}
.icon-color-blue {
    color: #00ABA9;
}